.main-section {
  background: linear-gradient(to bottom left, rgba(14,14,14,0.5) 33%, rgba(17,17,17,0.5), transparent), url('images/pizza-bg.jpeg') center center/cover;
  height: 93.6vh;
  margin-top: 2.5rem;
  position: relative;
}

.main-section-headline {
  position: absolute;
  top: 7rem;
  left: 22rem;
  font-size: 4.4rem;
  font-weight: bold;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}

