* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tajawal', sans-serif;
  color: #18770d;
  overflow-x: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 100;
}

.menu-list {
  position: fixed;
  top: 14vh;
  left: 20vw;
  height: 85vh;
  width: 60vw;
  background: rgba(255,255,255,0.8);
  border: 4px solid #e31ecd;
  border-radius: 2%;
  padding: 1rem 2rem;
  display: none;
  z-index: 200;
}

.menu-item {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Indie Flower', sans-serif;
  color: #ef2500;
  text-align: center;
}

.menu-item-description {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2rem;
}

.menu-item-special {
  margin: 0 auto 1rem auto;
  border-top: 1px solid#156d0b;
  border-bottom: 1px solid #156d0b;
  padding-top: 1rem;
  width: 35vw;
}

.main-header {
  width: 100%;
  height: 11.5vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #efee1c;
  padding: 0.4rem 0;
}

.logo {
  display: inline-block;
  width: 5.2vw;
  vertical-align: middle;
}

.logo-img {
  width: 100%;
  min-width: 3.2rem;
  vertical-align: middle;
  padding-left: 0.25rem;
}

.nav-bar {
  display: inline-block;
  width: calc(100vw - 12vw);
  text-align: right;
  vertical-align: middle;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar-link {
  display: inline-block;
}

.nav-bar-link a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.2rem 3.75rem;
  color: #156d0b;
}

.nav-bar-separation {
  display: inline-block;
  height: 7vh;
  vertical-align: bottom;
  border-right: 3px solid aliceblue;
}


/* .nav-bar-separation:last-of-type {
  margin-right: -2rem;
} */

.nav-bar-link a:hover,
.nav-bar-link a:active {
  color: #1c8810;
  background: #dada1a;
  border-radius: 5%;
}

.highlight {
  color: #83e613;
}

.location {
  text-align: center;
  background: #414141;
  height: 4.8rem;
  font-size: 1.9rem;
  font-weight: bold;
  color: #131313;
}

.location p {
  padding-top: 1.2rem;
}